<section id="register-form">
  <div class="row d-flex justify-content-center align-items-center pt-4">
    <div class="col-10 col-sm-8 col-lg-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Registrate</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name, class: "form-group")) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :Nombre %><br />
              <%= f.text_field :first_name, autofocus: true, autocomplete: "first name", required: true, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :Apellido %><br />
              <%= f.text_field :last_name, autocomplete: "last name", required: true, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :Email %><br />
              <%= f.email_field :email, autocomplete: "email", required: true, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :Empresa %><br />
              <%= f.text_field :company, autocomplete: "company", class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :contraseña %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> caracteres minimo)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", required: true, class: "form-control" %>
            </div>

            <div class="field">
              <%= f.label :confirmacion_contraseña %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, class: "form-control" %>
            </div>

            <div class="actions">
              <%= f.submit "Registrate", class: "btn btn-primary w-100 mt-3" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>

</section>
